
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: serif;
  font-size: 40px;
  line-height: 1;
}

.pane {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  text-align: center;
}
.pane:not(.visible) {
  display: none;
}

.visible {
  opacity: 1;
  -webkit-animation: fade-in 0.2s;
  animation: fade-in 0.2s;
}
@-webkit-keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

.backdrop {
  padding: 0.25em;
  background-color: rgba(255, 255, 255, 0.5);
}

button {
  font: inherit;
  color: inherit;
  margin: 0.25em 0;
  padding: 0 0.25em;
}

h1 {
  font-variant: small-caps;
  font-size: 2em;
  letter-spacing: 0.05em;
  white-space: pre;
}
h2 {
  font-variant: small-caps;
  font-size: 1.5em;
}
h3 {
  font-size: 1.25em;
}
h1 + p, h2 + p, h3 + p {
  font-style: italic;
}

#assets {
  display: none;
}

#game-header {
  display: -webkit-flex;
  display: flex;
  font-size: 24px;
}
#game-header b {
  white-space: pre;
}
#game-header .filler {
  -webkit-flex-grow: 1;
  flex-grow: 1;
}

#game {
  /* Keep in sync with main.js event handling. */
  border: 2px solid black;
}
#game.torus {
  -webkit-animation: border-blink 0.3s cubic-bezier(0.25, 0.0, 0.75, 1.0)
    infinite alternate;
  animation: border-blink 0.3s cubic-bezier(0.25, 0.0, 0.75, 1.0) infinite
    alternate;
}
#game.soon, #game.torus.soon {
  -webkit-animation: border-blink 0.1s steps(2, start) infinite alternate;
  animation: border-blink 0.1s steps(2, start) infinite alternate;
}
@-webkit-keyframes border-blink {
  from { border-color: rgba(0, 0, 0, 1); }
  to { border-color: rgba(0, 0, 0, 0); }
}
@keyframes border-blink {
  from { border-color: rgba(0, 0, 0, 1); }
  to { border-color: rgba(0, 0, 0, 0); }
}

.over-info {
  display: table-row;
}
.over-info i {
  display: table-cell;
  text-align: right;
  white-space: pre;
}
.over-info span {
  display: table-cell;
  text-align: left;
}

.hidden {
  display: none;
}
